---
title: User Account and Authentication
owner: UAA
---

## <a id="overview"></a>Overview

User Account and Authentication (UAA) is an [open source identity server project](https://github.com/cloudfoundry/uaa) under the Cloud Foundry foundation. 

UAA provides enterprise scale identity management features and identity-based security for applications and APIs. It supports open standards for authentication and authorization.


## <a id="uaa-overview"></a>UAA Overview

This topic explains the purpose and architecture of UAA.

For more information, see <a href="./uaa-overview.html" class="subnav">UAA Overview</a>.

## <a id="concepts"></a>UAA Concepts

This topic explains some of the high-level concepts behind UAA.

For more information, see <a href="./uaa-concepts.html" class="subnav">UAA Concepts</a>.

## <a id="identity-providers"></a>Identity Providers in UAA

This topic explains how different types of Identity Providers (IDPs) interact with UAA.

For more information, see <a href="./identity-providers.html" class="subnav">
Identity Providers in UAA</a>.

## <a id="uaa-metrics"></a>UAA Performance Metrics

This topic identifies and describes global, Virtual Machine (VM), and JVM (Java Virtual Machine) metrics. 

For more information, see <a href="./uaa-metrics.html" class="subnav">UAA Performance Metrics</a>.

## <a id="api"></a>UAA API Docs
UAA also has a [documented public API](https://docs.cloudfoundry.org/api/uaa/index.html). 